<a href="#" class="text-decoration-none items">
    <div class="bg-card_1 p-3 card inline d-flex flex-row mt-4">
        <img src="../../images/placeholder.png" alt="" style="width: 120px; height: 120px; border-radius: 10px;">
        <div class="ps-3">
            <h4>บทเรียนที่ x</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum alias assumenda dicta
                molestiae
                quasi consequuntur at ut animi, nulla sed! Dolorum laborum neque est minima! Vel in
                magni
            </p>
        </div>
    </div>
</a>