<div class="p-2 mb-2 bg-white rounded clickable-div">
    <input type="checkbox" id="subject-4">
    <label for="subject-4">รายวิชา การพัฒนาทักษะการเรียนรู้ตลอดชีวิต 003102 OTHER</label>
</div>
<div class="p-2 mb-2 bg-white rounded clickable-div">
    <input type="checkbox" id="subject-5">
    <label for="subject-5">รายวิชา ภาษาไทยเชิงวิชาการ 001102 OTHER</label>
</div>
<div class="p-2 mb-2 bg-white rounded clickable-div">
    <input type="checkbox" id="subject-6">
    <label for="subject-6">รายวิชา สุนทรีย์ศาสตร์ในการจัดการชีวิต 003101 OTHER</label>
</div>
<div class="p-2 mb-2 bg-white rounded clickable-div">
    <input type="checkbox" id="subject-7">
    <label for="subject-7">รายวิชา Front-end 227221 ICT SE </label>
</div>