<div class="p-2 mb-2 bg-white rounded clickable-div">
    <input type="checkbox" id="subject-4">
    <label for="subject-4">รายวิชา ##### 000004</label>
</div>
<div class="p-2 mb-2 bg-white rounded clickable-div">
    <input type="checkbox" id="subject-5">
    <label for="subject-5">รายวิชา ##### 000005</label>
</div>
<div class="p-2 mb-2 bg-white rounded clickable-div">
    <input type="checkbox" id="subject-6">
    <label for="subject-6">รายวิชา ##### 000006</label>
</div>
<div class="p-2 mb-2 bg-white rounded clickable-div">
    <input type="checkbox" id="subject-7">
    <label for="subject-7">รายวิชา ##### 000007</label>
</div>
<div class="p-2 mb-2 bg-white rounded clickable-div">
    <input type="checkbox" id="subject-8">
    <label for="subject-8">รายวิชา ##### 000008</label>
</div>
<div class="p-2 mb-2 bg-white rounded clickable-div">
    <input type="checkbox" id="subject-9">
    <label for="subject-9">รายวิชา ##### 000009</label>
</div>
<div class="p-2 mb-2 bg-white rounded clickable-div">
    <input type="checkbox" id="subject-10">
    <label for="subject-10">รายวิชา ##### 000010</label>
</div>
