<div class="col-md-3 col-6 d-flex justify-content-center mb-3">
                    
    <a href="#" class="card md-5 rounded sign-register" style="max-width: 250px;">
        <div class="card ">
            <img src="../images/placeholder.png" alt="" class="position-relative rounded">
            <div class="position-absolute fixed-bottom bg-purple px-auto rounded ">
                <h6 class="card_title p-3 text-white text-center">ลงทะเบียนวิชาเรียน</h6>
            </div>
        </div>
    </a>
</div>