<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Answer Template</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/style.css">

    <!-- Import Jquery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../../javascripts/load-components.js"></script>

    <style>
        .solution-screen {
            background: #c8c8c8;
            padding: 20px;
            border-radius: 10px;
        }
    </style>
</head>

<body>
    <div id="nav-placeholder"></div>

    <main>
        <section class=" solution-screen mt-5 mx-5 d-flex inline">
            <div class="">
                <iframe width=" 640" height="315" src="https://www.youtube.com/embed/H5JubkIy_p8?si=r194LoT6FGRZ-yed"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="card mx-2 p-3">
                <h2>บทที่ 1</h2>
                <h5>lorem</h5>

                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam incidunt in tempore excepturi
                    dignissimos. Accusamus dicta dolores corporis deleniti illum, tempore inventore dolor quia
                    doloremque laudantium voluptas at! Dolorem, voluptates!</p>
                <p>#Credit : mycodeschool</p>

                <a href="/pdfs/Placeholder-PDF.pdf" target="_blank">
                    <div class="file-holder">
                        Files-holder
                    </div>
                </a>
            </div>
        </section>
    </main>
</body>

</html>