<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lesson x</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/style.css">

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../../javascripts/load-components.js"></script>
    <script src="../../javascripts/search_func.js"></script>
</head>

<body>
    <div id="nav-placeholder"></div>

    <main class="mx-5 mt-5">
        <section class="container">
            <div class="p-3">
                <h4>บทที่ 1</h4>
                <p>Preview</p>
                <div class="slide_show">
                    <img src="../../../images/Binary-Tree.png" alt="">
                    <img src="../../../images/Binary-Tree-Representation.png" alt="">
                    <img src="../../../images/Terminologies-Binary-Tree1.png" alt="">
                    <img src="../../../images/Insertion-in-Binary-Tree.png" alt="">
                </div>
                <a href="https://1drv.ms/p/c/6e7d6ec5992df48f/EccBkZ3W5fhNvRVdDCGj5j0BpvpEkdFVB_8cs5CIU7tksQ?e=eMxdBV"
                    target="_blank">ello</a>
            </div>

        </section>
    </main>
</body>

</html>