.top-bar {
    background-color: rgb(195, 195, 195);
}

.top-bar ul {
    list-style-type: none;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}

.top-bar button {
    padding: 15px;
}

#top-items{
    display: none;
    margin-left: 6rem;
    position: relative;
    background-color: red;
}

.top-bar a {
    color: white;
    padding: 15px;
    display: block;
}

.top-bar li {
    float: left;
}

.bottom-bar {
    bottom: 0;
}