.top-bar {
    background-color: rgb(195, 195, 195);
}

.top-bar ul {
    list-style-type: none;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}

.top-bar button {
    padding: 15px;
}

#top-items{
    display: none;
    margin-left: 5rem;
    flex-wrap: wrap;
}
#top-items li{
    list-style-type: none;
    align-content: center;
    background-color: red;
    width: 120px;
}
#top-items a{
    color: black;
    text-decoration: none;
    padding-left: 5px;
}
.top-bar a {
    color: white;
    padding: 15px;
    display: block;
}

.top-bar li {
    float: left;
}

.bottom-bar {
    bottom: 0;
}