
.top-bar {
    background-color: rgb(181, 181, 181);
}

.top-bar ul {
    list-style-type: none;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}

.top-bar button {
    padding: 15px;
}
.hidden{
    height: 0;
}
.dropdown-items li{
    clear: both;
}
.top-bar a {
    color: white;
    padding: 15px;
    display: block;
}

.top-bar li {
    float: left;
}

.bottom-bar {
    bottom: 10;
}